@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor-primaria: #082032;
    --cor-secundaria: #F0FBFF;
    --cor-terciaria: #FF4C29;
        --cor-hover: rgba(44, 57, 75, 0.3);

    --fonte-primaria: 'Do Hyeon', sans-serif;
    --fonte-secundaria: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    background-image: url("../imagens/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cabecalho{
    padding: 2% 0 0 0;
}
.cabecalho__menu{
    display: flex;
    gap: 64px;
    width: 100%;
    justify-content: center;
}
.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-terciaria);
    text-decoration: none;
    display: flex;
    gap: 10px;
    height: 30px;
    padding-bottom: 2px;
}

.cabecalho__menu__link.active{
    border-bottom: 2px solid var(--cor-terciaria);
}

.principal{
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    gap: 82px;
    align-items: center;
}

.imagens{
    flex-direction: column;
}

.projetos{
    display: flex;
    gap: 54px;
}

.principal__conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.principal__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    letter-spacing: 0.3rem;
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.principal__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.principal__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.principal__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.principal__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.principal__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.principal__borda {
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding-left: 2%;
    width: 50%;
}

.principal__borda__imagem {
    border-radius: 8px;
    position: relative;
    left: -9%;
    top: 15px;
    width: 100%;
    z-index: 1;
}

.habilidades {
    background-color: var(--cor-terciaria);
    border: none;
}

.habilidades__imagem {
    border-radius: 8px;
    left: 1%;
}

.rodape {
    color: #B9B9B9;
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    border-top: 2px solid var(--cor-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .principal {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .principal__conteudo {
        width: auto;
    }

    .imagens {
        flex-direction: column;
    }

    .projetos {
        flex-direction: column;
        align-items: center;
    }
}